# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CLion specific files
cmake-build-debug/
cmake-build-release/
.idea/
*.iml

# CMake files
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
CMakeLists.txt.user

# JetBrains specific files
# Usually stored in .idea directories
.idea
*.iws
*.ipr
*.iml

# Other C++ specific files
*.dSYM/
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
*.vcxproj*
*.ipch/
*.pdb

# R specific files
.Rhistory
.Rapp.history
.RData
.Ruserdata
.Rproj.user/

# General directories
build/
dist/
*/.cache

# Ignore everything in the mombf directory
mombf/*

# Don't ignore C/C++ source files
!mombf/*.c
!mombf/*.cpp
!mombf/*.cc
!mombf/*.cxx

# Don't ignore C/C++ header files
!mombf/*.h
!mombf/*.hpp
!mombf/*.hh
!mombf/*.hxx

# Don't ignore C/C++ inline files (if used)
!mombf/*.inl

# Don't ignore makefiles (commonly used in C/C++ projects)
!mombf/Makefile
!mombf/makefile

# Don't ignore CMakeLists.txt (if using CMake)
!mombf/CMakeLists.txt


cpp/cmake-build-debug-coverage/
