useDynLib(BISAM, .registration = TRUE)
importFrom(Rcpp, evalCpp)
export(estimate_model)
export(STANDARD)
export(SPLIT_SEQUENTIAL)
export(SPLIT_PARALLEL)
export(modelbinomprior)
export(modelbbprior)
export(fast_model_selection)
export(momprior)